<header>
  <img src="assets/img/cat-on-burger.gif">
  <h1>Pasta Burger</h1>
  <h2>Cavatappi Cat wants you to eat pasta burgers! (and wafflewiches!)</h2>
</header>

<div id="uneaten">
  <h3>Uneaten Burgers</h3>
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        <li>
          <form class="eat-burger">
            {{id}}. {{burger_name}}
            <input type="text" id="customer-input" placeholder="Customer?">
            <input type="submit" id="nom-update" data-id="{{id}}" value="Eat it!">
          </form>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div id="eaten">
  <h3>Eaten Burgers</h3>
  <ul>
    {{#each burgers}}
      {{#if devoured}}
        <li>
          {{id}}. {{burger_name}} (Eaten by {{Customer.customer_name}})
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<form class="create-burger">
  <div class="form-group">
    <label for="burg">Add a Pasta Burger!</label><br>
    <input type="text" id="burg"><br>
    <input type="submit" value="Submit Pasta Burger">
  </div>
</form>
